<app-spinner *ngIf="cargando"></app-spinner>

<div class="row animated fadeIn" *ngIf="!cargando">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Perfiles</mat-card-title>
            <div class="found text-muted">
                <strong>Encontrados: {{ perfiles.length }}</strong>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-nav-list>
                <mat-list-item *ngFor="let perfil of perfiles" (click)="onEditPerfil(perfil)" class="pointer">
                    <h3 matLine><strong> {{perfil.nombre}} </strong></h3>
                    <p matLine>
                        <span> {{perfil.descripcion}} </span>
                    </p>
                </mat-list-item>
                <div class="alert alert-info" *ngIf="perfiles.length===0">
                    No se encontraron coincidencias
                </div>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Usuarios</mat-card-title>
            <div class="found text-muted">
                <strong>Encontrados: {{ usuarios.length }}</strong>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-nav-list>
                <mat-list-item *ngFor="let usuario of usuarios" (click)="editarUsuario(usuario)" class="pointer">

                    <img [src]="usuario.img | imagen" class="img-30 img-circle">
                    <span style="margin-left: 10px;"> {{usuario.nombre}} </span>

                </mat-list-item>
                <div class="alert alert-info" *ngIf="usuarios.length===0">
                    No se encontraron coincidencias
                </div>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Grupos</mat-card-title>
            <div class="found text-muted">
                <strong>Encontrados: {{ grupos.length }}</strong>
            </div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-nav-list>
                <mat-list-item *ngFor="let grupo of grupos" (click)="onEditGrupo(grupo)" class="pointer">
                    <h3 matLine><strong> {{grupo.nombre}} </strong></h3>
                    <p matLine>
                        {{grupo.descripcion}}
                    </p>
                </mat-list-item>
                <div class="alert alert-info" *ngIf="grupos.length===0">
                    No se encontraron coincidencias
                </div>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
</div>