<div class="col-12 animated fadeIn">
    <div class="card card-body">
        <h3 class="box-title m-b-20">
            <strong>
                <span class="text-muted">{{ modoCrear ? 'Nuevo Grupo' : 'Editar Grupo'}}</span>
            </strong>
        </h3>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form [formGroup]="grupoForm" (ngSubmit)="registrarGrupo()" class="needs-validation" autocomplete="off">
                    <div class="form-group">
                        <label for="nombre">Nombre de Grupo *</label>
                        <input formControlName="nombre" [class.is-invalid]="nombreNoValido" type="text" class="form-control form-control-sm" placeholder="Nombre de grupo..." autocomplete="off">
                        <small *ngIf="nombreNoValido" class="text-danger">El campo es obligatorio</small>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input formControlName="descripcion" type="text" class="form-control form-control-sm" placeholder="Descripción...">
                    </div>
                    <button [disabled]="grupoForm.invalid" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                    <button (click)="activeModal.dismiss()" class="btn btn-secondary btn-outline waves-effect waves-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>