<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">

                <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" (ngSubmit)="ingresar(f)">
                    <a href="javascript:void(0)" class="text-center db mt-3">
                        <!-- <img src="../assets/images/logo-icon.png " alt="Home" /> -->
                        <!-- <br/> -->
                        <img src="../assets/images/logo-completo.png " alt="Home " /></a>
                    <h4 class="box-title m-t-30 m-b-30 text-center text-muted">Ingresar al Sistema</h4>
                    <div class="form-group mx-4">
                        <div class="">
                            <input #username ngModel name="username" class="form-control" type="text" placeholder="Nombre de Usuario" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group mx-4">
                        <div class="">
                            <input ngModel name="password" class="form-control" type="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-group text-center mx-4">
                        <div class=" p-b-20 ">
                            <button class="btn btn-block btn-info" type="submit">
                                Iniciar Sesión
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->