<h1 mat-dialog-title>{{ modoCrear ? 'Nuevo Perfil' : 'Editar Perfil'}}</h1>
<form [formGroup]="perfilForm" (ngSubmit)="registrarPerfil()" class="needs-validation form-column" autocomplete="off">
    <mat-form-field>
        <mat-label>Nombre de Perfil</mat-label>
        <input matInput formControlName="nombre" [class.is-invalid]="nombreNoValido" placeholder="Nombre de Perfil *">
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="descripcion">Descripción</mat-label>
        <textarea matInput formControlName="descripcion" placeholder="Descripción"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="perfilForm.invalid">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
    <button mat-flat-button (click)="onClose()">Cancelar</button>
</form>